<style>
    .top-left {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    .top-left img {
        width: 60px;
        height: 60px;
    }

    .top-left h1 {
        font-size: 1.8rem;
        color: #f0f0f0;
        text-shadow: 1px 1px 3px #000;
        text-decoration: none;
    }
</style>


<div class="top-left">
    <img src="https://pvzfusion.wiki.gg/images/Sunflower.png?b47174" alt="Lapcamp Logo">
    <a href="/Home"><h1>Lapcamp</h1></a>
</div>